
body {
background: rgb(238, 174, 233);
background: radial-gradient(circle, rgba(238, 174, 233, 1) 45%, rgba(148, 187, 233, 1) 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_section {
  width: 100%;
}

.scroll_start {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

#scoller {
  display: flex;
  width: 100%;
  /* margin: 0 auto; */
  /* background-color: black; */
  animation: scoll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scoller-1 img {
  height: 50px;
  width: 50px;
  margin-right: 80px;
}

#scoller-1 {
  white-space: nowrap;
  display: inline-block;
}

@keyframes scoll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.Akki {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

#contact-me {
  margin-top: 0;
}
